/* HEADER */
.header {
  width: 100%;
  padding: 20px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* glass эффект */
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.03);
}

/* ЛОГО */
.logo {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 4px;

  transition: all 0.25s ease;
}

.logo:hover {
  opacity: 0.6;
  letter-spacing: 5px;
}

/* NAV */
.nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ИКОНКИ (дом + корзина) */
.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 42px;
  height: 42px;

  border-radius: 50%;
  background: #f4f4f4;

  font-size: 18px;
  color: black;

  transition: all 0.3s ease;
}

/* hover эффект */
.icon:hover {
  background: black;
  color: white;

  transform: translateY(-2px) scale(1.08);

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* АКТИВНАЯ СТРАНИЦА */
.active {
  background: black;
  color: white;
}